body,html {
	font-family: 'Lato', sans-serif;
	color: #565656;
	overflow: scroll;
}

a {color: #565656;}
a:hover {color: #565656;}
a:active {color: #565656;}
a:visited {color: #565656;}

.top {
	background: #06bdef;
	background-image: url('../Img/index_border.png'), url('../Img/far-clouds_big.png');
	background-repeat: repeat-x, no-repeat;
	background-position: bottom, right bottom;

	height: 250px;
	margin: 0px;
	padding: 0px;
	/*border: 1px solid #ff0;*/
}

#campusChooser {
	margin-top: 20px;
	z-index: 1001;
}
#campusChooser a {color: #464646;}
/*#campusChooser div {margin-top: 20px;}*/

.campusChosen {
	background: #0078C1;
	border-color: #0078C1;
}

.campusChosen .exit {
	position: absolute; top: 0px; right: 0px;
	width: 25px;
	height: 100%;
	text-align: center;
	border-left: 2px solid #06BDEF;
	line-height: 30px;
}

#categories {
	text-align: left;
	margin-top: 16px;
	padding: 0px;
}

.category {
	margin-right: 10px;
	padding: 0px 16.5px;
	color: #fff;
	font-size: 1.2em;
}
.category a {color: #fff;}
.category.search {background-color: #000;}

.categoryHeading {
	font-size: 40px;
	background-color: #666666;
	color: #fff;
	height: 58px;
	/*border: 1px solid #000;*/
}

.categoryHeading span {
	font-size: 10px;
}

.categoryInactive {
	opacity: 0.3;
}

.breadcrumb {
	background-color: transparent;
}
.breadcrumb a {color: #fff;}

.rightColumn {
	padding-top: 30px;
}

#latestAd {
	min-height: 400px;

	background-color: #f4f4f4;
	
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;

	margin: 0px;
	padding: 0px;
	width: 100%;
}

#latestAd div.pagination {
	width: 100%;
	text-align: center;
}

.latestAd {
	height: 55px;
	padding: 5px 5px;
}

.latestAd .categoryIcon {
	height: 100%;
	float: left;
}

#adInfo {
	height: 150px;
}

.newAdInfo {
	background-color: #dbcab5;
	height: 100%;

	float: left;
	padding-left: 10px;
	line-height: 44px;
}
.newAdInfo a {color: #464646;}
.newAdInfo h4 {
	font-size: 1.3em;
	font-weight: 700;
	line-height: 25px;
}
.newAdInfo.price {
	text-align: right;
	font-size: 1.15em;
	font-weight: 700;
}
.newAdInfo.date {
	text-align: center;
}

.where {
	font-weight: 700;
	margin-left: 15px;
}

.form-group label {
	width: 150px;
}

.content {
	margin-bottom: 30px;
}
.content h3 {
	font-weight: bold;
}

.bigIcon {
	width: 100%;
	height: 200px; 
}

.icon.tickets {background: #f5634a url('../Img/Icons/icon_ticket.png') no-repeat center;}
.icon.literature {background: #f2c14b url('../Img/Icons/icon_literature.png') no-repeat center;}
.icon.house {background: #7cc576 url('../Img/Icons/icon_house.png') no-repeat center;}
.icon.work {background: #3c8687 url('../Img/Icons/icon_work.png') no-repeat center;}
.icon.travel {background: #08486b url('../Img/Icons/icon_travel.png') no-repeat center;}
.icon.other {background: #a963ab url('../Img/Icons/icon_other.png') no-repeat center;}

.adType {
	color: #fff;
	padding: 2px 20px;
	text-transform: uppercase;
	font-weight: 700;
}
.adType.sale {background-color: #ff4848; height: 20px;}
.adType.buy {background-color: #7cc576;}
.adType.give_away {background-color: #8dbbc7; padding: 2px 12px;}
.adType.exchange {background-color: #8dbbc7; padding: 2px 22px;}

.adHover {
	background-color: #464646;
}

.nav.nav-pills > li > a:hover {
	background-color: transparent;
	vertical-align:text-top;
	text-decoration: underline;
}

span.adShowInfo {
	font-size: 1.3em;
	font-weight: 700;
}

#adAnswer {
	background-color: #39b54a;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	padding: 10px 0px;
	color: #fff;
}

#adReport,#adDelete,#adEdit {
	background-color: #c0c0c0;
	padding: 10px 5px;
	text-align: center;
	margin-top: 12px;
	width: 200px;
}

#adEdit {
	margin-left: 14px;
	margin-right: 14px;
}

.modal-dialog {padding-top: 15%;}

.error {border: 1px solid #f00;}
.errorText {color: #f00;}

.ajaxLoader {width: 15px; height: 15px; margin-right: 25px; display: none;}
.ajaxSubmit {display: none; margin-left: 25px;}

#errorMsg {display: none;}

#addNewAd textarea {width: 100%; height: 200px;}

.categoryHeading.search {
	padding-top: 11px;
	border-top: 1px solid #000;
}

.btn-info, .btn-default {width: 140px;}

#uploadProgress {
	width: 44px;
	height: 23px;
	border: 2px solid #c0c0c0;
	border-radius: 6px;
	padding-left: 10px;
	text-align: left;
}

.uploadedImages {
	border-bottom: 2px solid #565656;
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 5px 0px;
}

.uploadedImages img {
	width: 18.7%;
	display: inline-block;
	border: 0px solid #000;
	height: 30px;
}

.adImage {
	text-align: center;
	min-height: 150px;
}