body,html {
	font-family: 'Lato', sans-serif;
	color: #fff;
}

a {color: #fff;}
a:hover {color: #fff;}
a:active {color: #fff;}
a:visited {color: #fff;}

.container {
	max-width: none !important;
	width: 970px;
}

.index.top {
	background: #06bdef url('../Img/index_border.png') bottom repeat-x;
	height: 530px;
	z-index: 0;
}

#infoText {
	border: 0px solid #000;
	position: absolute;
	top: 260px;
	left: 240px;
	
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	
	text-align: center;

	z-index: 1;
}

#infoText .info {
	width: 450px;
	height: 40px;
	display: block;

	line-height: 40px; 
	vertical-align: middle;
}

#infoText .info1 {
	background-color: #C52174;
}

#infoText .info2 {
	background-color: #363636;

	position: relative;
	top: 15px;
	left: 50px;
}

#infoText .info3 {
	background-color: #00A651;

	position: relative;
	top: 35px;
	left: 100px;
}

#infoText .what {
	width: 410px;
	display: block;

	position: relative;
	top: 55px;
	left: 115px;

	font-size: 13px;
	font-weight: normal;
	text-align: left;
	color: #000;

}

img.front_half_circle {
	display: block;
	position: absolute;
	top: 233px;
	left: 0px;
}

img.studenttrade_logo {
	display: block;
	padding: 70px 0px 0px 150px;

}

.map {
	/*position: relative;
	right: 0px;*/
	/*float: right;*/
}
.map img {
	width: 330px;
	position: absolute;
	top: 0px; right: 0px;
	z-index: 30;
}
.map span {
	background: #fff;
	opacity: 0.7;
	font-size: 11px;
	padding: 2px 6px;
}
.map a{color: #464646;}
.map a:hover {
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;

	color: #464646;
}

.map .linkoping {
	position: absolute;
	top: 445px; right: 120px;

	z-index: 50;
}
.map .sthlm {
	position: absolute;
	top: 395px; right: 70px;

	z-index: 50;
}
.map .gbg {
	position: absolute;
	top: 460px; right: 290px;

	z-index: 50;
}
.map .lund {
	position: absolute;
	top: 550px; right: 220px;

	z-index: 50;
}

.index.content {
	background-color: #0078C1;
	height: 300px;
	text-align: center;
	

	z-index: -2;

	border: 1px solid #000;
}

.content h3 {
	font-weight: bold;
}

.content .box {
	margin-top: 50px;
}

.box img {
	width: 56px;
	height: 56px;
	text-align: center;
	border: 0px solid #000;
}

.box.box_image {
	width: 100%;
	height: 56px;
	text-align: center;
	border: 1px solid #000;
}

.col-xs-4.middle {
	height: 100%;
	padding-top: 50px;

	-webkit-box-shadow:inset -40px 0 80px -40px rgba(0,63,100,0.3), 40px 0 80px -40px rgba(0,63,100,0.3) inset;
	-moz-box-shadow:inset -40px 0 80px -40px rgba(0,63,100,0.3), 40px 0 80px -40px rgba(0,63,100,0.3) inset;
	box-shadow: -40px 0 80px -40px rgba(0,63,100,0.3) inset, 40px 0 80px -40px rgba(0,63,100,0.3) inset;
}

.footer {
	background: url('../Img/index_border2.png') top repeat-x;

	text-align: center;
	font-size: 17px;
	font-weight: bold;
	height: 40px;
	padding-top: 70px;

	color: #464646;
}

.footer ul {
	padding-top: 20px;
	list-style: none;
	display: inline-table;
}

.footer li {
	display: inline;
	margin-right: 30px;
}

.font_left {
	text-align: left;
}

.copyright{
	text-align: center;
	font-size: 12px;
	color: #666;
}

.ads .ad {
	width: 200px;
	float: left;
}

.ad.top {
	background: #06bdef;
	background-image: url('../Img/index_border.png'), url('../Img/studenttrade_logo_wo_text.png'), url('../Img/far-clouds.png');
	background-repeat: repeat-x, no-repeat, no-repeat;
	background-position: bottom, center left, right bottom;

	height: 230px;
	z-index: 10;
	/*border: 1px solid #000;*/
}

#campusChooser {
	/*border: 1px solid #000;*/
	height: 200px;
}
#campusChooser a {color: #464646;}
#campusChooser div {margin-top: 20px;}

.campusChosen {
	background: #0078C1;
	border-color: #0078C1;
}

.campusChosen .exit {
	position: absolute; top: 0px; right: 0px;
	width: 25px;
	height: 100%;
	text-align: center;
	border-left: 2px solid #06BDEF;
	line-height: 30px;
}

#categories {
	text-align: left;
	/*border: 1px solid #000;*/
	padding: 0px;
}

#categories a {font-weight: bold;}
#categories a:hover {vertical-align:text-top; text-decoration: none;}

#categories span {
	margin-right: 20px;
	padding: 5px 20px;

	font-size: 20px;
}

#categories .categoryViewAll {background-color: #666666;}
.addNew {
	text-align: right;
	height: 30px;
	/*border: 1px solid #000;*/
}
.addNew a {font-weight: bold;}
.addNew span {
	background-color: #39b54a;
	padding: 20px 20px;
	line-height: 25px;
	font-size: 35px;
}

.categoryHeading {
	font-size: 40px;
	background-color: #666666;
	margin-top: 5px;
}

.rightColumn {
	padding-top: 30px;
	color: #464646;
}

#latestAd {
	margin-bottom: 5px;
}

.col-xs-6.latestAd {
	border: 0px solid #000;
	height: 60px;
	padding: 5px 5px;

	background-color: #f4f4f4;
}

.col-xs-6.latestAd .categoryLetter {
	/*border: 1px solid #f00;*/
	width: 10%;
	height: 100%;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	line-height: 50px;

	float: left;
}

.adInfo {
	/*border: 1px solid #0f0;*/
	background-color: #dbcab5;
	width: 90%;
	height: 100%;

	float: left;
	padding-left: 10px;
	line-height: 0px;

	color: #464646;
}
.adInfo a {color: #464646;}
.adInfo h4 {
	font-size: 1.25em;
	font-weight: 700;
}

.form-group label {
	width: 150px;
}