body,html {
	font-family: 'Lato', sans-serif;
	color: #565656;
}

a {color: #565656;}
a:hover {color: #565656;}
a:active {color: #565656;}
a:visited {color: #565656;}
/*
.font_left {
	text-align: left;
}*/

/*.ads .ad {
	width: 200px;
	float: left;
}*/

.top {
	background: #06bdef;
	background-image: url('../Img/index_border.png'), url('../Img/far-clouds_big.png');
	background-repeat: repeat-x, no-repeat;
	background-position: bottom, right bottom;

	height: 262px;
	/*border: 1px solid #ff0;*/
}

.top img {
	margin-top: 10px;
}

#campusChooser {
	/*border: 1px solid #000;*/
	/*text-align: right;*/
	margin-top: 20px;
	z-index: 100;
}
#campusChooser a {color: #464646;}
/*#campusChooser div {margin-top: 20px;}*/

.campusChosen {
	background: #0078C1;
	border-color: #0078C1;
}

.campusChosen .exit {
	position: absolute; top: 0px; right: 0px;
	width: 25px;
	height: 100%;
	text-align: center;
	border-left: 2px solid #06BDEF;
	line-height: 30px;
}

#categories {
	text-align: left;
	/*border: 1px solid #000;*/
}

#categories a {color: #fff; font-weight: bold;}
#categories a:hover {color: #fff; vertical-align:text-top; text-decoration: none;}
#categories a:active {color: #fff;}
#categories a:visited {color: #fff;}

.category {
	margin-right: 10px;
	padding: 0px 15px;
	color: #fff;
	font-size: 1.2em;
}
.category a {color: #fff;}
.category.search {background-color: #000;}
/*#categories .categoryViewAll {background-color: #666666;font-size: 20px;}*/

/*.addNew {
	text-align: right;
	height: 30px;
	/*border: 1px solid #000;
}
.addNew a {color: #fff; font-weight: bold;}
.addNew span {
	background-color: #39b54a;
	padding: 20px 20px;
	line-height: 25px;
	font-size: 35px;
}*/

.categoryHeading {
	font-size: 40px;
	background-color: #666666;
	color: #fff;
	height: 58px;
	/*border: 1px solid #000;*/
}

.categoryHeading span {
	font-size: 10px;
}
.breadcrumb {
	background-color: transparent;
	/*border: 1px solid #000;*/
}
.breadcrumb a {color: #fff;}

.rightColumn {
	padding-top: 30px;
	/*border: 1px solid #000;*/
}

#latestAd {
	margin-bottom: 25px;
	min-height: 400px;
	background-color: #f4f4f4;
	/*border: 1px solid #c0c0c0;*/
}

.latestAd {
	height: 55px;
	padding: 5px 5px;

	/*border: 1px solid #000;*/
}

.latestAd .categoryIcon {
	/*border: 1px solid #f00;*/
	height: 100%;
	/*font-size: 50px;*/
	/*font-weight: 700;*/
	/*text-align: center;*/
	/*line-height: 50px;*/
	float: left;
}

.newAdInfo {
	/*border: 1px solid #f00;*/
	background-color: #dbcab5;
	height: 100%;

	float: left;
	padding-left: 10px;
	line-height: 44px;
}
.newAdInfo a {color: #464646;}
.newAdInfo h4 {
	font-size: 1.3em;
	font-weight: 700;
	line-height: 25px;
}
.newAdInfo.price {
	text-align: right;
	font-size: 1.15em;
	font-weight: 700;
}
.newAdInfo.date {
	text-align: center;
}

.where {
	/*font-size: 0.5em;*/
	font-weight: 700;
	margin-left: 15px;
}

.form-group label {
	width: 150px;
}

.content {
	margin-top: -1px; padding: 0;
	/*border: 2px solid #000;*/
}
.content h3 {
	font-weight: bold;
}

.icon.tickets {background: #f5634a url('../Img/Icons/icon_ticket.png') no-repeat center;}
.icon.literature {background: #f2c14b url('../Img/Icons/icon_literature.png') no-repeat center;}
.icon.house {background: #7cc576 url('../Img/Icons/icon_house.png') no-repeat center;}
.icon.work {background: #3c8687 url('../Img/Icons/icon_work.png') no-repeat center;}
.icon.travel {background: #08486b url('../Img/Icons/icon_travel.png') no-repeat center;}
.icon.other {background: #a963ab url('../Img/Icons/icon_other.png') no-repeat center;}

.adType {
	color: #fff;
	padding: 2px 20px;
	text-transform: uppercase;
	font-weight: 700;
}
.adType.sale {background-color: #ff4848; height: 20px;}
.adType.buy {background-color: #7cc576;}
.adType.give_away {background-color: #8dbbc7; padding: 2px 12px;}
.adType.exchange {background-color: #8dbbc7; padding: 2px 22px;}

.adHover {
	background-color: #464646;
}

.nav.nav-pills > li > a:hover {
	background-color: transparent;
	vertical-align:text-top;
	text-decoration: underline;
}

span.adShowInfo {
	font-size: 1.3em;
	font-weight: 700;
}

#adAnswer {
	background-color: #39b54a;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	padding: 10px 0px;
	color: #fff;
}

#adReport,#adDelete {
	background-color: #c0c0c0;
	padding: 10px 5px;
	text-align: center;
	margin-top: 12px;

	width: 49%;
}

#adReport {margin-right: 12px;}

/*.nav>li>a:hover,.nav>li>a:focus{text-decoration:none;background-color:none;vertical-align:text-top; text-decoration: none;}*/

/*
 * Bootbox
 */
.modal {
	margin-top: 200px;
}

.error {border: 1px solid #f00;}
.errorText {color: #f00;}

.ajaxLoader {width: 15px; height: 15px; margin-right: 25px; display: none;}