body,html {
	font-family: 'Lato', sans-serif;
	color: #fff;
}

a {color: #fff;}
a:hover {color: #fff;}
a:active {color: #fff;}
a:visited {color: #fff;}

.container {
	max-width: none !important;
	width: 970px;
}

.font_left {
	text-align: left;
}

.ads .ad {
	width: 200px;
	float: left;
}

.ad.top {
	background: #06bdef;
	background-image: url('../Img/index_border.png'), url('../Img/far-clouds_big.png');
	background-repeat: repeat-x, no-repeat;
	background-position: bottom, right bottom;

	height: 230px;
	z-index: 10;
	/*border: 1px solid #000;*/
}

.ad.top img {
	margin-top: 10px;
}

#campusChooser {
	/*border: 1px solid #000;*/
	height: 200px;
}
#campusChooser a {color: #464646;}
#campusChooser div {margin-top: 20px;}

.campusChosen {
	background: #0078C1;
	border-color: #0078C1;
}

.campusChosen .exit {
	position: absolute; top: 0px; right: 0px;
	width: 25px;
	height: 100%;
	text-align: center;
	border-left: 2px solid #06BDEF;
	line-height: 30px;
}

#categories {
	text-align: left;
	/*border: 1px solid #000;*/
	padding: 0px;
}

#categories a {font-weight: bold;}
#categories a:hover {vertical-align:text-top; text-decoration: none;}

#categories span {
	margin-right: 20px;
	padding: 5px 20px;

	font-size: 20px;
}

#categories .categoryViewAll {background-color: #666666;}
.addNew {
	text-align: right;
	height: 30px;
	/*border: 1px solid #000;*/
}
.addNew a {font-weight: bold;}
.addNew span {
	background-color: #39b54a;
	padding: 20px 20px;
	line-height: 25px;
	font-size: 35px;
}

.categoryHeading {
	font-size: 40px;
	background-color: #666666;
	margin-top: 5px;
}

.rightColumn {
	padding-top: 30px;
	color: #464646;
}

#latestAd {
	margin-bottom: 5px;
}

.col-xs-6.latestAd {
	border: 0px solid #000;
	height: 60px;
	padding: 5px 5px;

	background-color: #f4f4f4;
}

.col-xs-6.latestAd .categoryLetter {
	/*border: 1px solid #f00;*/
	width: 10%;
	height: 100%;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	line-height: 50px;

	float: left;
}

.adInfo {
	/*border: 1px solid #0f0;*/
	background-color: #dbcab5;
	width: 90%;
	height: 100%;

	float: left;
	padding-left: 10px;
	line-height: 0px;

	color: #464646;
}
.adInfo a {color: #464646;}
.adInfo h4 {
	font-size: 1.25em;
	font-weight: 700;
}

.form-group label {
	width: 150px;
}

.content h3 {
	font-weight: bold;
}

.icon.tickets {background-image: url('../Img/Icons/icon_ticket.jpg');}
.icon.literature {background-image: url('../Img/Icons/icon_literature.jpg');}
.icon.house {background-image: url('../Img/Icons/icon_house.jpg');}
.icon.work {background-image: url('../Img/Icons/icon_work.jpg');}
.icon.travel {background-image: url('../Img/Icons/icon_travel.jpg');}
.icon.other {background-image: url('../Img/Icons/icon_other.jpg');}