.index.top {
	background: #06bdef url('../Img/index_border.png') bottom repeat-x;
	height: 530px;
	z-index: 0;
}

#infoText {
	border: 0px solid #000;
	position: absolute;
	top: 260px;
	left: 240px;
	
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	text-align: center;

	z-index: 1;

	border: 1px solid #000;
}

#infoText .info1 {
	background-color: #C52174;

	width: 270px;
	height: 40px;
	display: block;

	line-height: 40px; 
	vertical-align: middle;
}

#infoText .info2 {
	background-color: #363636;

	width: 330px;
	height: 40px;
	display: block;

	line-height: 40px; 
	vertical-align: middle;

	position: relative;
	top: 15px;
	left: 50px;
}

#infoText .info3 {
	background-color: #00A651;

	width: 355px;
	height: 40px;
	display: block;

	line-height: 40px; 
	vertical-align: middle;

	position: relative;
	top: 35px;
	left: 75px;
}

#infoText .what {
	width: 410px;
	display: block;

	position: relative;
	top: 55px;
	left: 115px;

	font-size: 13px;
	font-weight: normal;
	text-align: left;
	color: #000;

	border: 1px solid #000;
}

img.front_half_circle {
	display: block;
	position: absolute;
	top: 233px;
	left: 0px;

	border: 1px solid #000;
}

img.studenttrade_logo {
	display: block;
	padding: 70px 0px 0px 150px;

	border: 1px solid #000;
}

.map {
/*	position: relative;*/
	border: 1px solid #000;
	width: 400px;
	float: right;
}
.map img {
	width: 330px;
	position: absolute;
	top: 0px; left: 0px;
	z-index: 30;

	border: 1px solid #000;
}
.map span {
	background: #fff;
	opacity: 0.7;
	font-size: 11px;
	padding: 2px 6px;
}
.map a:hover{
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

.map .linkoping {
	position: absolute;
	top: 445px; left: 140px;

	z-index: 50;
}
.map .sthlm {
	position: absolute;
	top: 395px; left: 190px;

	z-index: 50;
}
.map .gbg {
	position: absolute;
	top: 460px; left: -20px;

	z-index: 50;
}
.map .lund {
	position: absolute;
	top: 550px; left: 70px;

	z-index: 50;
}

.index.content {
	background-color: #0078C1;
	height: 300px;
	text-align: center;
	color: #fff;

	z-index: -250;
}

.content h3 {
	font-weight: bold;
}

.content .box {
	margin-top: 50px;
}

.col-md-4.middle {
	height: 100%;
	padding-top: 50px;

	-webkit-box-shadow:inset -40px 0 80px -40px rgba(0,63,100,0.3), 40px 0 80px -40px rgba(0,63,100,0.3) inset;
	-moz-box-shadow:inset -40px 0 80px -40px rgba(0,63,100,0.3), 40px 0 80px -40px rgba(0,63,100,0.3) inset;
	box-shadow: -40px 0 80px -40px rgba(0,63,100,0.3) inset, 40px 0 80px -40px rgba(0,63,100,0.3) inset;
}

.box_image .grower-wrapper{position: relative;top: 50px;left: 45%;}
.box_image .grower{background-color:#edead6;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;height:55px;position:absolute;text-align:center;top:0;left:0;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;width:55px;z-index:999}
.box_image .grower:hover{background-color:#fff;height:491px;left:-221px;top:-291px;width:491px}
.box_image .grower:hover .larger{height:491px;left:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1;overflow:visible;top:0;width:491px;}
.box_image .grower .larger{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;position:absolute;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.ie7 .box_image .grower .larger,.ie7 .box_image .grower .larger-info,.ie8 .box_image .grower .larger,.ie8 .box_image .grower .larger-info{display:none}
.ie7 .box_image .grower:hover .larger,.ie7 .box_image .grower:hover .larger,.ie8 .box_image .grower:hover .larger,.ie8 .box_image .grower:hover .larger{display:block}
.ie7 .box_image .grower:hover .smaller,.ie7 .box_image .grower:hover .smaller,.ie8 .box_image .grower:hover .smaller,.ie8 .box_image .grower:hover .smaller{display:none}
.ie7 .box_image .grower:hover .larger-info,.ie7 .box_image .grower:hover .larger-info,.ie8 .box_image .grower:hover .larger-info,.ie8 .box_image .grower:hover .larger-info{display:block}
.box_image .grower .smaller i{background:#76c34d;display:block;height:28px;left:25px; top: 12px; position:relative;width:4px}
.box_image .grower .smaller i i{height:4px;left:-12px;top:12px;width:28px}
.box_image .grower:hover .smaller{left:50px;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;top:50px}
.grower-wrapper .box_image:hover{z-index:4}

.footer {
	background: url('../Img/index_border2.png') top repeat-x;

	text-align: center;
	font-size: 17px;
	font-weight: bold;
	height: 40px;
	padding-top: 70px;
}

.footer ul {
	padding-top: 20px;
	list-style: none;
	display: inline-table;
}

.footer li {
	display: inline;
	margin-right: 30px;
}

.font_left {
	text-align: left;
}

.ow-overlay {
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background: #fff;
	opacity: 0.8;

	color: #000;
}
.ow-closed {
	display: none;
}
/* Default class for modal window */
.modal {
	position: fixed;
	z-index: 50;
	height: 300px;
	left: 50%;
	top: 50px;
	width: 300px;

	background-color: #fff
}

.copyright{
	text-align: center;
	font-size: 12px;
	color: #666;
}